@page
@model Snackis4Anton.Pages.Users.MessagesModel
@{
    ViewData["Title"] = "Messages";
}

<h1>Messages</h1>

<h2>Inbox</h2>
<ul>
    @foreach (var message in Model.Inbox)
    {
        
        <li>
            
            <strong>From:</strong> @message.SenderId <br />
            <strong>Message:</strong> @message.Text <br />
            <strong>Date:</strong> @message.SendDate
        </li>
        
    }
</ul>

<h2>Sent</h2>
<ul>
    @foreach (var message in Model.Sent)
    {
        <li>
            <strong>To:</strong> @message.ReceiverId <br />
            <strong>Message:</strong> @message.Text <br />
            <strong>Date:</strong> @message.SendDate
        </li>
    }
</ul>